.dumi-default-header-content {
    max-width: 95% !important;
}

.dumi-default-doc-layout > main {
    max-width: 95% !important;
}

:root {
    --l-blue: #1677ff;
    --l-purple: #722ed1;
    --l-cyan: #13c2c2;
    --l-green: #52c41a;
    --l-magenta: #eb2f96;
    --l-pink: #eb2f96;
    --l-red: #f5222d;
    --l-orange: #fa8c16;
    --l-yellow: #fadb14;
    --l-volcano: #fa541c;
    --l-geekblue: #2f54eb;
    --l-gold: #faad14;
    --l-lime: #a0d911;
    --l-color-primary: #29c1c2;
    --l-color-success: #52c41a;
    --l-color-warning: #faad14;
    --l-color-error: #ff4d4f;
    --l-color-info: #1677ff;
    --l-color-link: #5d626d;
    --l-color-text-base: 14px;
    --l-link-font-weight: 500;
    --l-color-bg-base: ;
    --l-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --l-font-family-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    --l-font-size: 14;
    --l-line-width: 1;
    --l-line-type: solid;
    --l-motion-unit: 0.1;
    --l-motion-base: 0;
    --l-motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
    --l-motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
    --l-motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --l-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
    --l-motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
    --l-motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
    --l-motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --l-motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --l-border-radius: 6;
    --l-size-unit: 4;
    --l-size-step: 4;
    --l-size-popup-arrow: 16;
    --l-control-height: 32;
    --l-z-index-base: 0;
    --l-z-index-popup-base: 1000;
    --l-opacity-image: 1;
    --l-wireframe: false;
    --l-motion: true;
    --l-color-white: #fff;
    --l-color-black: #1c2128;
    --l-color-finish: #409eff;
    --l-overlay-background-color: rgba(0, 0, 0, 0.2);
    --l-text-ellipsis-line-height: 1.6;
    --l-active-opacity: 0.6;
    --l-text-color-primary: #333740;
    --l-text-color-regular: #5d626d;
    --l-text-color-secondary: #a1a6b2;
    --l-text-color-placeholder: #c0c4cc;
    --l-border-color-base: #e9ecf1;
    --l-border-color-light: #e4e7ed;
    --l-border-color-lighter: #ebeef5;
    --l-border-color-extra-light: #f2f6fc;
    --l-fill-color-base: #f0f2f5;
    --l-fill-color-light: #f5f7fa;
    --l-fill-color-lighter: #fafafa;
    --l-fill-color-extra-light: #fafcff;
    --l-fill-color-dark: #ebedf0;
    --l-fill-color-darker: #e6e8eb;
    --l-fill-color-blank: #ffffff;
    --l-background-color-base: #f5f6f9;
    --l-bg-color-base: #f5f6f9;
    --l-bg-color: #f5f7fa;
    --l-border-width-base: 1px;
    --l-border-style-base: solid;
    --l-border-color-hover: #c0c4cc;
    --l-border-base: var(--l-border-width-base) var(--l-border-style-base) var(--l-border-color-base);
    --l-border-radius-base: 6px;
    --l-border-radius-small: 3px;
    --l-border-radius-round: 20px;
    --l-border-radius-circle: 100%;
    --l-box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    --l-box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    --l-svg-monochrome-grey: #dcdde0;
    --l-fill-base: var(--l-color-white);
    --l-font-size-extra-large: 20px;
    --l-line-height-extra-large: 28px;
    --l-font-size-large: 18px;
    --l-line-height-large: 26px;
    --l-font-size-medium: 16px;
    --l-line-height-medium: 24px;
    --l-font-size-base: 14px;
    --l-line-height-base: 20px;
    --l-font-size-small: 13px;
    --l-line-height-small: 19px;
    --l-font-size-extra-small: 12px;
    --l-line-height-extra-small: 18px;
    --l-text-underline: underline;
    --l-font-weight-primary: 500;
    --l-font-line-height-primary: 24px;
    --l-font-color-disabled-base: #bbb;
    --l-index-normal: 1;
    --l-index-top: 1000;
    --l-index-popper: 2000;
    --l-disabled-fill-base: var(--l-background-color-base);
    --l-disabled-color-base: var(--l-text-color-placeholder);
    --l-disabled-border-base: var(--l-border-color-light);
    --l-text-color-yellow: #ffc300;
    --l-text-color-red: #ff7329;
    --l-text-color-green: #3edf06;
    --l-text-color-dark: #1c2128;
    --l-text-color-tips: #d5dae4;
    --l-text-color-tips-border: #e9ecf1;
    --l-border-color-primary: #29c1c2;
    --l-border-color-success: #21b455;
    --l-border-color-warning: #ff9c00;
    --l-border-color-danger: #f56c6c;
    --l-border-color-error: #f56c6c;
    --l-border-color-info: #b3b5bb;
    --l-border-color-gary: #eef0f4;
    --l-border-color-finish: #409eff;
    --l-border-radius-medium: 10px;
    --l-status-color-primary: #29c1c2;
    --l-status-color-danger: #fb1b1b;
    --l-status-color-warning: #ff9c00;
    --l-status-color-default: #eef0f4;
    --l-status-color-finish: #a1a6b2;
    --l-status-color-dark: #24343b;
    --l-disabled-bg-color: var(--l-bg-color);
    --l-disabled-text-color: var(--l-text-color-placeholder);
    --l-disabled-border-color: var(--l-border-color-light);
    --l-transition-duration: 0.3s;
    --l-transition-duration-fast: 0.2s;
    --l-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
    --l-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
    --l-transition-all: all var(--l-transition-duration) var(--l-transition-function-ease-in-out-bezier);
    --l-transition-fade: opacity var(--l-transition-duration) var(--l-transition-function-fast-bezier);
    --l-transition-md-fade: transform var(--l-transition-duration) var(--l-transition-function-fast-bezier),
        opacity var(--l-transition-duration) var(--l-transition-function-fast-bezier);
    --l-transition-fade-linear: opacity var(--l-transition-duration-fast) linear;
    --l-transition-border: border-color var(--l-transition-duration-fast) var(--l-transition-function-ease-in-out-bezier);
    --l-transition-color: color var(--l-transition-duration-fast) var(--l-transition-function-ease-in-out-bezier);
    --l-color-primary-light-1: #3ec7c8;
    --l-color-primary-light-2: #54cdce;
    --l-color-primary-light-3: #69d4d4;
    --l-color-primary-light-4: #7fdada;
    --l-color-primary-light-5: #94e0e1;
    --l-color-primary-light-6: #a9e6e7;
    --l-color-primary-light-7: #bfeced;
    --l-color-primary-light-8: #d4f3f3;
    --l-color-primary-light-9: #eaf9f9;
    --l-color-success: #21b455;
    --l-color-success-light-1: #64cb88;
    --l-color-success-light-2: #90daaa;
    --l-color-success-light-3: #bce9cc;
    --l-color-success-light-4: #d3f0dd;
    --l-color-success-light-5: #e9f8ee;
    --l-color-warning: #ff9c00;
    --l-color-warning-light-1: #ffba4d;
    --l-color-warning-light-2: #ffce80;
    --l-color-warning-light-3: #ffe1b3;
    --l-color-warning-light-4: #ffebcc;
    --l-color-warning-light-5: #fff5e6;
    --l-color-danger: #f56c6c;
    --l-color-danger-light-1: #f89898;
    --l-color-danger-light-2: #fab6b6;
    --l-color-danger-light-3: #fcd3d3;
    --l-color-danger-light-4: #fde2e2;
    --l-color-danger-light-5: #fef0f0;
    --l-color-error: #f56c6c;
    --l-color-error-light-1: #f89898;
    --l-color-error-light-2: #fab6b6;
    --l-color-error-light-3: #fcd3d3;
    --l-color-error-light-4: #fde2e2;
    --l-color-error-light-5: #fef0f0;
    --l-color-info: #b3b5bb;
    --l-color-info-light-1: #cacbcf;
    --l-color-info-light-2: #d9dadd;
    --l-color-info-light-3: #e8e9eb;
    --l-color-info-light-4: #f0f0f1;
    --l-color-info-light-5: #f7f8f8;
    --l-color-gary: #eef0f4;
    --l-color-gary-light-1: #f3f5f7;
    --l-color-gary-light-2: #f7f8fa;
    --l-color-gary-light-3: #fafbfc;
    --l-color-gary-light-4: #fcfcfd;
    --l-color-gary-light-5: #fdfefe;
    --l-padding-xs: 8px;
    --l-padding-xsx: 4px;
    --l-padding-sm: 12px;
    --l-padding: 16px;
    --l-padding-md: 20px;
    --l-padding-lg: 24px;
    --l-padding-Xl: 32px;
}
